{% extends 'base.html' %}
{% block title %}Cafeteria{% endblock title %}
    {% block content %}
    <div class="row first d-flex">   
            <div class="col-6">
                <h1>Visit Silicon Cafeteria and enjoy fast foods,tasty meals,hot coffees,cold coffees, snacks and many more.
                </h1>
            </div>
            <div class="col-6">
                <div class="m-5">
                    <img class="wow animate__animated animate__shakeY" src="https://img.freepik.com/premium-photo/fork-is-being-pulled-out-plate-spaghetti_732812-1707.jpg" alt="" width="500" data-wow-duration="20s" data-wow-iteration="10">
                </div>
            </div>   
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <h1 align="center" class="mb-5">Services</h1>
            <div class="row g-4 m-3">
                <div class="col-lg-3 col-sm-6 wow animate__animated animate__fadeInUp mb-3" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4" align="center">
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <h5>Master Chefs</h5>
                            <p class="d-none d-xxl-block">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow animate__animated animate__fadeInUp mb-3" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4" align="center">
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h5>Quality Food</h5>
                            <p class="d-none d-xxl-block">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow animate__animated animate__fadeInUp mb-3" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4 " align="center">
                            <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                            <h5>Online Order</h5>
                            <p class="d-none d-xxl-block">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow animate__animated animate__fadeInUp v" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4" align="center">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h5>Quality Service</h5>
                            <p class="d-none d-xxl-block">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow animate__animated animte__fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row " align="center">
                    <div class="col-md-4">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                        <a class="btn btn-link ms-5" href="">About Us</a>
                        <a class="btn btn-link ms-5" href="">Contact Us</a>
                        <a class="btn btn-link ms-5" href="">Reservation</a>
                        <a class="btn btn-link ms-5" href="">Privacy Policy</a>
                        <a class="btn btn-link ms-5" href="">Terms & Condition</a>
                    </div>
                    <div class="col-md-4">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Silicon Institute of Technology,Patia,Bhubaneswar</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>6371784794</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>whiteunicorn1947@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa-brands    fa-twitter"></i></a>
                            <a href="#" class="facebook btn btn-outline-light btn-social"><i class="fa-brands fa-facebook"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa-solid fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa-solid fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>11AM - 7:30PM</p>
                        <h5 class="text-light fw-normal">Sunday & Holidays</h5>
                        <p>5PM - 7:30PM</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Cafeteria</a>, All Right Reserved. 
							Designed By <a class="border-bottom" href="">Subhranshu</a>
                        </div>
                        {% comment %} <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock content %}
